# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# VS Code
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# macOS
.DS_Store

# Environment files
.env
.env.*

# Coverage
.pytest_cache/
coverage.xml
.coverage

# Logs
*.log
